In [15]:
import os
import pandas as pd
import numpy as np
import json

In [13]:
account_dict = {
    'HappySunday': {
        'password': 'HappySunday',
        'role': 'admin',
        'account_id': 0
    },
    'WraithKing': {
        'password': 'WraithKing',
        'role': 'gm',
        'account_id': 1
    },
    'HPWash':{
        'password': 'HPWash',
        'role': 'normal',
        'account_id': 1000
    }
    # TODO: VIP
}

In [16]:
# create json object from dictionary
json = json.dumps(account_dict)

# open file for writing, "w" 
f = open("account_dict.json","w")

# write json object to file
f.write(json)

# close file
f.close()

In [6]:
account_df = pd.DataFrame(account_dict)
account_df

In [36]:
account_info = {
    0: {
        'character_level': 12,
        'character_exp': 99,
        'job_id': 1,
        'character_name': 'fate'
    },
    1: {
        'character_name': 'luck',
        'job_id': 3,
        'character_level': 29,
        'character_exp': 21
    }
}

In [37]:
pd.DataFrame(account_info).to_csv('ACCOUNT_INFO/HappySunday.csv')

In [38]:
empty = pd.DataFrame(account_info)
empty

                    0     1
character_level    12    29
character_exp      99    21
job_id              1     3
character_name   fate  luck

In [40]:
empty.drop([0,1], axis = 1).to_csv('ACCOUNT_INFO/empty_account.csv')