In [1]:
import os
import pandas as pd
import numpy as np
import json

In [17]:
lvl = np.array([i for i in range(1,71)])
exp = np.array([round(15*np.exp(np.sqrt(i))) for i in range(70)])

In [28]:
exp_chart = pd.DataFrame({'lvl': lvl, 'exp_to_next': exp})

In [30]:
exp_chart

    lvl  exp_to_next
0     1           15
1     2           41
2     3           62
3     4           85
4     5          111
..  ...          ...
65   66        47587
66   67        50619
67   68        53820
68   69        57197
69   70        60759

[70 rows x 2 columns]

In [31]:
exp_chart.to_csv('exp_chart.csv')